.sidebar-img {
  width: 10%;
  height: 22px;
  margin-top: 1%;
}
.automation-container {
  padding: 1rem 2rem 1rem 2rem;
}
.automation-header-left {
  display: flex;
  width: 51%;
  justify-content: space-between;
  /* padding: 1rem; */
}
.automation-header-right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.automation-btn-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -0.25rem;
}

.automation-btn-holder-folder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -0.25rem;
}
.automation-btn-folder {
  width: 130px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #313949;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  background: pink !important;
}
.automation-body {
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #dfe3de;
  height:100vh;
  /* justify-content: space-between; */
}
.automation-body-left {
  width: 20%;
  background: white;
  /* padding-left: 2rem; */
}
.automation-body-right {
  width: 80%;
}
.automation-left-filter {
  /* display: flex; */
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  padding: 3%;
  /* color: #000000; */
  /* width: 4.5rem; */
  /* justify-content: space-between; */
  /* margin-left: 2rem; */
}
.automation-left-option {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 3.3%;
  /* margin-left: 2rem; */
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07); */
}
.automation-body-right {
  background: white;
  margin-left: 0.25rem;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  background: #ffffff !important;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07);
  border-radius: 7px !important;
  border: none !important;
  font-family: "Inter" !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #313949 !important;
}
.css-1w1rijm-MuiButtonBase-root-MuiButton-root {
  background: #f7d3a1 !important;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07);
  border-radius: 7px !important;
  border: none !important;
  font-family: "Inter" !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #313949 !important;
  margin-right: 1rem !important;
}
