.sidebar-maincontainer {
  width: 250px;
  background-color: #313949;
  height: 100vh;
  position: sticky;
  top: 0px;
}
.sidebar-heading {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 7%;
}
.dashboard-block {
  display: flex;
  padding: 7%;
  cursor: pointer;
}
/* .sidebar-img{
    margin-top: 1%;
} */
.sidebar-name {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  margin-left: 5%;
  font-family: "Poppins";
}
