.automation-body {
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #dfe3de;
  /* height:100vh; */
  /* justify-content: space-between; */
}
.automation-body-left {
  width: 20%;
  background: white;
  /* padding-left: 2rem; */
}
.automation-body-right {
  width: 80%;
}
.automation-left-filter {
  display: flex;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  width: 5rem;
  justify-content: space-between;
  margin-left: 2rem;
}
.automation-filter-p {
  padding-top: 1rem;
}
.automation-left-option {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 2rem;
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07); */
}
.automation-body-right {
  background: white;
  margin-left: 0.25rem;
}
.automation-table-body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px !important;
}
.automation-table-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.filter-sidebar {
  background-color: rgba(49, 57, 73, 0.2);
}
